@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global styling */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;

}

body{
  width: 100%;
}




h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-size: 12px;
  font-weight: 700;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

p{
  font-size: 16px;
  /* color: #3e544a; */
  color: #334b40 ;
  margin: 15px 0 20px 0;
}

/* Button كلاسه normal  => يبقى لازقه فيه
  msh button جواه .normal
*/

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}



/**********
 * HEADER *
 **********/


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 5px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  margin: 0;
  width: 100%;
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}
header>a>img{
  width: 13rem;
  
}


#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar li{
padding: 0 20px;
list-style: none;

}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: "";
  width: 40%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 0px;

}
#navbar li a img{
  scale: 1.5;
  padding-left: 10px;
}




/*************
 * HOME PAGE *
 *************/


#hero{
  background-image: url("img/hero4 enhanced.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero h4{
  padding: 0 0 15px 5px;
  margin-bottom: 20px;

}

#hero h1{
  color: #088178;
}
#hero p{
  width: 40%;
  margin-top: 20px;

}
#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  background-repeat: no-repeat;

  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}



/********************
 * FEATURES SECTION *
 ********************/
 

 #features_container{
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 }

 .feature-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px  rgba(0, 0, 0, 0.05);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

 }

 .feature-box:hover{
  box-shadow: 10px 10px 54px  rgba(0, 0, 0, 0.05);
 }
 .feature-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  color: #088178;
  background-color: #fddde4;
  border-radius: 4px;
 }
 .feature-box img{
  width: 100%;
  margin-bottom: 10px;
 }

 .feature-box:nth-of-type(2) h6{
  background-color: #cdebbc;
 }
 .feature-box:nth-of-type(3) h6{
  background-color: #d1e8f2;
 }
 .feature-box:nth-of-type(4) h6{
  background-color: #cdd4f8;
 }
 .feature-box:nth-of-type(5) h6{
  background-color: #f6dbf6;
 }
 .feature-box:nth-of-type(6) h6{
  background-color: #fff2e5;
 }

 

 

/************
 * PRODUCTS *
 ************/

#products_Section{
  padding: 40px 80px;
  text-align: center;
 
  


}
.products_Container{
  display: flex;
  justify-content: space-between;
  /* Modified from space-between */
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}



.product_Card{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
  margin: 15px 0;
  transition: 0.2s ;
  cursor: pointer;


}
.product_Card:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .06);

}

.product_Card img{
  width: 100%;
  border-radius: 20px;


}

.product_Card .description{
  position: relative;
  text-align: start;
  padding: 10px 0;
  user-select: none;

}
.product_Card .description span{
  color: #606063;
  font-size: 12px;

}

.product_Card .description h5{
  padding-top: 7px  ;
  color: #1a1a1a;
  font-size: 14px;

}

.product_Card .description i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product_Card .description .price{
  
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.product_Card .description .cart{
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  text-align: center;
  scale: 1.2;

  position: absolute;
  right: 10px;
  bottom: 25px;

  transition: 0.2s;
  cursor: pointer;


}
.product_Card .description .cart:hover{
  scale: 1.5;
}



/*************************
 * CALL TO ACTION BANNER *
 *************************/


 #banner{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;

  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;

 }

 #banner h4{
  color: white;
  font-size: 16px;
  margin-bottom: 10px;

  
 }
 #banner h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
 }
 #banner h2 span{
  font-size: 34px;
  color: #ef3636;

 }
 #banner button:hover{
  background: #088178;
  color: #fff;
  

 }

 



 
/********************
 *  Small Banner *
 ********************/
 
 .sm-banner{
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
 }

 .sm-banner .banner-box#box1{
  /* whose id is...  = no space,#.. */
    background-image: url(img/banner/b17.jpg);
 }
 .sm-banner .banner-box#box2{
    background-image: url(img/banner/b16.jpg);
 }
 .sm-banner .banner-box{


  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;

  text-align: center;

  min-width: 580px;
  height: 50vh;

  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;

  color: white;

  border-radius: 50px;

  padding: 30px;
/* there's a difference here in margin and space */
  
 }



 .sm-banner .banner-box button{
  margin-top: 30px;
  margin-left: 14px;
  scale: 1.2;
 }
 .sm-banner .banner-box:hover button{
  background: #088178;
  border: none;
 
 }


 .sm-banner .banner-box h4{
  color: white;
  font-size: 20px;
 }
  .sm-banner .banner-box h2{
    padding-top: 10px;
    padding-bottom: 10px;
 } 
  .sm-banner .banner-box  span{
    font-weight: 600;
 }
 




/**********************
    * NEWSLETTER  *
 **********************/

 #newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;

  padding: 40px 80px;
  margin: 40px 0;

 
 }


 #newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: white;
 }
 #newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
 }
 #newsletter p span{
 
  color: #ffbd27;
 }




 #newsletter form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;

  flex-grow: 0.6;

 }
  
 #newsletter form input[type="text"]{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 16px;
  font-weight: 600;

  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  width: 70%;

  
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

 
 }


  
#newsletter form input[type="submit"]{
  height: 3.125rem;


  font-size: 14px;
  font-weight: 600;
  color: #000;
  background-color: #088178;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  white-space: nowrap;
  text-align: center;

  width: 20%;
  flex-grow: 1;



  
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;



}



/**********
 * FOOTER  *
 **********/


 footer{
  padding: 40px 80px;
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-areas: 
      "c1 c2 c3 c4"
      "cp cp cp cp"
  ;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 1fr;
  grid-gap: 5px;
 }



 footer .col1{
  grid-area: c1;
 }
 footer .col2{
  grid-area: c2;
 }
 footer .col3{
  grid-area: c3;
 }
 footer .col4{
  grid-area: c4;
 }


 footer .col1 img{
  width: 10rem;
  margin-bottom: 10px;
 
}


footer a{
  text-decoration: unset;
  color: unset;
  
}

footer .col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .col2,
footer .col3{
  gap: 20px;
}

footer .col4{
  gap: 0px;
}

footer .follow{
  margin-top: 35px;
}


footer .socialMediaIcons{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

footer .socialMediaIcons a{
  color: rgb(94, 87, 87);
  margin-right: 30px;
}
footer .socialMediaIcons i{
  scale: 1.5;

}



footer .col1 p.address{
  line-height: 1.5;
}
 

footer .col .appStores{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

footer .col .appStores img{
  border: 1px solid black;
  border-radius: 10px;
}

#copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: cp;
  text-align: center;
}